*.la
*.lo
*.o
*~
.deps
.libs
/src/freecell
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
missing
stamp-h1
